!!!
%html
  %head
    %meta{:content => "width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no", :name => "viewport"}

    %title= "Les Cygnes"
    %meta{property:"og:site_name", content:"The Pigeonhole"}
    - desc = 'desc'
    %meta{:name => "description", content: desc}
    %meta{property:"og:description", content: desc}
    %link{:rel => "stylesheet", :href => "/styles.css"}/
    %script{src:"//cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"}
    %script{src:"//www.gstatic.com/firebasejs/3.4.1/firebase.js"}

    -# keyboard shit
    %link{:rel => "stylesheet", :href => "https://cdnjs.cloudflare.com/ajax/libs/virtual-keyboard/1.26.5/css/keyboard-basic.min.css"}/
    %script{src:'https://cdnjs.cloudflare.com/ajax/libs/virtual-keyboard/1.26.5/js/jquery.keyboard.min.js'}
    / Latest compiled and minified CSS
    %link{:crossorigin => "anonymous", :href => "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css", :integrity => "sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u", :rel => "stylesheet"}/
    %link{:rel => "stylesheet", :href => "https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"}
    :javascript
      document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')
    %script{src: '/lib/sketchLib.js'}
    %script{src: '/js/sketch.js'}
    %script{src: '/js/firebase.js'}
    %script{src: '/js/hypeHandler.js'}
    %script{src: '/js/scripts.js'}
    -# Hype scripts
    %script{type:"text/javascript", src:"anims2.hyperesources/snowfall.min.js"}


  %body.hide-previous.sketcher-page
    %form
      .step#step-1
        .sketcher
          .duck-list.ui-column
            - %w{aviateur bonnet casquette}.each do |src|
              .duck{'data-duck' => src}
                .shadow{style: "background-image: url(/assets/accessories/#{src}.png)", id: "accessoire-#{src}", "data-duck" => src}
                %img.hidden{src: "/assets/duck/#{src}.png"}
          #canvasDiv
          .sketcher-ui.ui-column
            .color-picker
              - ["#0074D9", "#3D9970", "#FFDC00", "#FF851B", "#FF4136", "#F012BE"].each do |color|
                %a.color.picker{href:"#canvas", "data-color"=>color, style: "background-color: #{color}"}
            .size-picker
              - [10, 20, 30, 40, 55].reverse.each do |size|
                %a.picker.size{href: '#canvas', "data-size" => size}
                  %span{style: "width:#{size}px; height: #{size}px"}
              %a.picker.eraser{href: '#canvas', data: { color: 'white' }}

      .step#step-2.hidden
        .question
          %img{src: '/assets/scene-text.png'}
        .scenes
          - %w{avion ski piscine skate voiture}.each do |src|
            .duck
              %input.imaged{type: 'radio', value: src, name: 'scene', id: src}
              %label{for: src}
                %img{src: "/assets/scenes/#{src}.png"}
      .step#step-3.hidden
        .question
          %img{src: '/assets/scene-text.png'}
        .form-content
          .form-step#form-step-1
            .form-group
              %label{for: 'name'} Prénom
              %input#name{type: 'text', name: 'name', placeholder: 'Prénom'}
            .form-group
              %label{for: 'day'} Date de Naissance
              %select#day{type: 'select', name: 'day'}
                - (1..31).each do |d|
                  %option{value: d}= d
              %select#month{type: 'select', name: 'month'}
                - [['Janvier', 1], ['Février', 2], ['Mars', 3], ['Avril', 4], ['Mai', 5], ['Juin', 6], ['Juillet', 7], ['Août', 8], ['Septembre', 9], ['Octobre', 10], ['Novembre', 11], ['Décembre', 12]].each do |d|
                  %option{value: d[1]}= d[0]
              %select#day{type: 'select', name: 'year'}
                - (1996..2016).each do |d|
                  %option{value: d}= d
              %input#contest{type: 'checkbox', name: 'contest'}
              %label.for-checkbox{for: 'contest'} Je participe au concours!
          .form-step#form-step-2
            .form-group
              %label{for: 'surname'} Nom
              %input#surname{type: 'text', name: 'surname', placeholder: 'Nom'}
            .form-group
              %label{for: 'address'} Adresse
              %input#address{type: 'text', name: 'address', placeholder: 'Addresse'}
            .form-group
              %label{for: 'email'} Email
              %input#email{type: 'email', name: 'email', placeholder: 'Email'}
      #result
        #anims2_hype_container{style: "margin:auto;position:relative;width:100vw;height:100vh;overflow:hidden;", "aria-live"=>"polite"}
          %script{type: "text/javascript", charset:"utf-8", src:"anims2.hyperesources/anims2_hype_generated_script.js?13002"}
      #contact-details.modal.fade{"aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
        .modal-dialog{:role => "document"}
          .modal-content
    #reset.fa.fa-icon.fa-refresh{onclick: 'window.location.reload()'}
    #next
      .fa.fa-icon.fa-arrow-right
    #previous
      .fa.fa-icon.fa-arrow-left
